    /* font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif; */

body {
    margin: 0;
}

.main-container {
    background-color:black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 40px;
    padding: 2em;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    width: fit-content;
    height: fit-content;
}

.hide {
    display: none !important;
}


/* musicbox */

.musicbox {
    background-color: white;
    width: 412px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    padding: 16px;
    box-sizing: border-box;
}

.musicbox_img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 0;
}

.song-information {
    width: 100%;
}

.song-information div:nth-child(2) {
	width: 100%;	
}

.musicbox > div:nth-child(2) {
	width: 80%;
}

.musicbox_text--primary-bold {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 15px;
}

.musicbox_text--secondary-regular {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.song-progress-container {
    width: 80%;
}

.player-progress {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    cursor: pointer;
    outline: none;
    background: #D8D8D8;
    height: 4px;
    border-radius: 2px;
}

.player-progress::-moz-range-track {
    height: 4px;
    border-radius: 2px;
    background: #D8D8D8;
}

.player-progress::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8643FF;
    transition: .2s ease-in-out;
}

.player-progress::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(140, 0, 255, 0.1);
}

.musicbox_song-time {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.musicbox_song-time span {
    font-size: 0.8em;
    color: gray;
}

.control-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.control-buttons-container button{
    border-radius: 50%;
    border:none;
    background-color: white;
    cursor: pointer;
}

.control-buttons-container button:nth-child(3) img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: none;
    object-position: 50% 25%;
}

.control-buttons-container button:nth-child(4) img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: none;
    object-position: 50% 25%;
}

.control-btn {
    width: 17px;
    height: 17px;
    padding: 0;
}


/* general little boxes */

.little-boxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    gap: 80px;
    justify-items: end;
}

.little-boxes_text--primary-bold {
    font-size: 15px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 0;
}

.little-boxes_text--secondary-regular {
    font-size: 12px;
    color: gray;
    text-align: left;
    margin-top: 0;
}

.little-boxes_img-text-container {
    height: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: -42px;
}

.little-boxes_img {
    height: 85px;
    width: 85px;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 16px;
}

.lt-box {
    background-color: white;
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    padding: 8px;
    box-sizing: border-box;
    justify-content: flex-end;
    position: relative;
}

/* little-musicbox */

.little-musicbox {
    background-color: white;
    width: 342px;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 24px;
    padding: 8px;
    box-sizing: border-box;
    justify-content: space-between;
}

.little-musicbox_img-text-container {
    height: 100%;
    display: flex;
    align-items: center;
    transition: .2s ease-in-out;
}

.little-musicbox_img {
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-right: 16px;
}

.little-musicbox-buttons-container button{
    border-radius: 50%;
    border:none;
    background-color: white;
    cursor: pointer;
    height: 61px;
    width: 61px;
    padding: 0;
    margin-right: 15px;
}

.little-musicbox-buttons-container button img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: none;
    object-position: 50% 25%;
    margin-right: 0;
}

/* friendrequest */

.friendrequest {
    position: relative;
}

.friendrequest-buttons-container {
    margin-right: 0;
}

.friendrequest-buttons-container button {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
}

#friendrequest_decline-btn {
    margin-right: 5px;
    background-color: #f5dddd;
}

#friendrequest_accept-btn {
    background-color: #ecfdec;
}

.display-friends {
    padding: 0;
    position: absolute;
    top: 0;
    right: 15px;
}


.display-friends button {
    padding: 0;
    border: 0;
    background-color: white;
    cursor: pointer;
}

.friends-list {
    width: 115%;
    position: absolute;
    right: 0;
    top: 18px;
    background: white;
    z-index: 1;
    min-height: 100px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px 20px 20px 20px;
}

.friends-list > p {
    font-size: 18px;
    font-weight: 600;
    margin: 0 0 8px 0;
    
}

.friend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    border-bottom: 1px solid lightgray;
    padding-bottom: 5px;
    margin-top: 5px;
}

.friend img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 15px;
}
/* pizzeria */

.pizzeria_text--secondary-regular {
    display: flex;
    align-items: center;
}

.pizzeria_text--secondary-regular img {
    margin-right: 4px;
}

.pizzeria-buttons-container {
    margin-right: 10px;
    position: absolute;
    top: -20px;
}

.pizzeria-buttons-container button {
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 12px;
    padding: 0;
    cursor: pointer;
    background-color: white;
    box-shadow: 15px 15px 40px -3px rgba(0,0,0,0.11);
}

.pizzeria-buttons-container button img {
    height: 15px;
    width: 15px;
}

#pizzeria_like-btn {
    margin-left: 5px;
}

/* coffeemug */

.coffemug_priceinfo {
    margin-right: 10px;
}

.coffemug_priceinfo p{
    color: #4136F1;
    font-weight: 600;
    font-size: 14px;
}

/* calendar */

.painted {
    background-color: #4136F1;
    color: white;
    font-weight: 500;
    transition: .2s ease-in-out;
}

.calendar-container {
    background-color: white;
    width: 450px;
    height:fit-content;
    text-align: center;
    border-radius: 32px;
    padding: 20px;
    box-sizing: border-box;
}

.calendar-input {
    font-family: 'Poppins', sans-serif;
    border: none;
    background-color: #D8D8D8;
    border-radius: 20px;
    height: 30px;
    text-align: center;
}
.calendar {
    background-color: white;
    width: 100%;
    height:fit-content;
    text-align: center;
    border-radius: 32px;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
}

.calendar_info {
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.calendar_info div {
    margin: 0 20px;
    width: 150px;
}

.calendar ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    padding: 0;
    font-size: 14px;
    justify-items: center;
    user-select: none;
}

.calendar ol li{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-top: 5px;
    box-sizing: border-box;
    margin: 2px 0;
    cursor: default;
}

.calendar_dates li:hover {
    box-shadow: 0 0 0 5px rgba(140, 0, 255, 0.1);
    transition: .2s ease-in-out;
}

.calendar_day {
    font-weight:600;
    font-size: 16px;
}

.calendar button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    background: linear-gradient(#8743FF,#4136F1);
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}

.previous-month, .next-month {
    color: #D8D8D8;
}

#days-list {
    margin-bottom: 0;
}

/* media query */

@media(max-width: 600px) {

    .main-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        padding: 0;
        width: 100vw;
    }

    .musicbox {
        width: 100%;
    }

    .calendar ol li{
        font-size: 12px;
        width: 25px;
        height: 25px;
    }

    .calendar-container {
        width: 100%;
    }

    .little-boxes {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: none;
        width: 100vw;
        overflow-x: auto;
        padding-top: 20px;
    }

    .little-boxes::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    .little-boxes::-webkit-scrollbar-button {
        display: none;
    } 

    .little-boxes::-webkit-scrollbar:horizontal {
        height: 10px;
    }

    .little-boxes::-webkit-scrollbar-thumb {
        background-color: #797979;
        border-radius: 20px;
    }
}

/* files */

.files-card {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
    width: 412px;
    height: 550px;
    padding: 24px;
    box-sizing: border-box;
}

.files-card_header {
    margin-top:30px;
    text-align: center;
}

.files-card_header p{
    font-size: 25px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 50px;
}

.file {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 50px 0;
}

.file div:first-child {
    height: 48px;
    width: 48px;
    border: 1px solid lightgray;
    border-radius: 15px;
    display: grid;
    place-items: center;
    margin-right: 30px;
}

.file div:first-child img {
    height: 18px;
}

.file span {
    width: 40px;
}

.files-card_progress {
    width: 100%;
}

.progress-bar {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    width: 50%;
}

.progress-bar span {
    font-weight: 600;
    font-size: 1.2em;
}

#progress-percentage {
    align-self: flex-end;
    color: rgb(137, 135, 135);
}

.upload-progress {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    outline: none;
    background: #D8D8D8;
    height: 10px;
    border-radius: 5px;
}

.upload-progress::-moz-range-track {
    height: 4px;
    border-radius: 2px;
    background: #D8D8D8;
}

.upload-progress::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8643FF;
    transition: .2s ease-in-out;
}

.success-msj {
    width: 240px;
}

@media(max-width: 600px) {

    .files-card {
        width: 100%;
    }

}

/* payment method */

.payment-method {
    background-color: white;
    width: 412px;
    height: 700px;
    border-radius: 32px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.payment-method-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.payment-method_header {
    text-align: center;
}

.payment-method_img {
    height: 100px;
}

.payment-method_header--title1 {
    margin-top: -30px;
    font-size: 25px;
    font-weight: 600;
}

.payment-method_list {
    display: flex;
    flex-direction: column;
    height: 350px;
}

.payment-method_list > div {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.payment-method_list > div label {
    display: flex;
    align-items: center;
}

.payment-method_list input {
    display: none;
}

.payment-method_list > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.external-input {
    border: 1px solid black;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-right: 20px;
    margin-bottom: 0;
    display: grid;
    place-items: center;
}

.payment-method_list input:checked + label > div > div {
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
}

#visa-logo {
    height: 80px;
}

#mastercard-logo {
    height: 45px;
}

#paypal-logo {
    height: 45px;
}

#google-logo {
    height: 45px;
}

.payment-method_btn, .verification_btn, .add-btn {
    height: 75px;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(#8743FF,#4136F1);
    color: white;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.toogle-container {
    margin: 30px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.switchtoogle {
    width: 80px;
    height: 40px;
    border-radius: 40px;
    background: white;
    border: 1px solid #4136F1;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.switchtoogle::after {
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(#8743FF,#4136F1);
    position: absolute;
    top: 5px;
    left: 5px;
    transition: .2s all;
}

#toogle:checked + .switchtoogle::after {
    transform: translatex(40px);
    background: white ;
}

#toogle:checked + .switchtoogle {
    background: linear-gradient(#8743FF,#4136F1);
    border: none;
}

#toogle {
    display: none;
}

.card-info {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.card-info img {
    height: 60px;
    margin: 40px 0;
}

.card-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-info_label {
    font-size: 18px;
    font-weight: 500;
    color: gray;
}

.card-info_input {
    margin-bottom: 30px;
    border: none;
    background-color: lightgray;
    height: 40px;
    width: 100%;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#expiration-date_selector {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#expiration-date_selector select {
    border: none;
    background-color: lightgray;
    height: 40px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

#expiration-date_selector span {
    font-weight: 600;
    font-size: 18px;
    margin: 0 5px;
}

#CVV {
    font-size: 24px;
    color: gray;
    margin-bottom: 102px;
}

.card-verification {
    width: 80%;
    display: flex;
    flex-direction: column;
    height: 97%;
    justify-content: space-between;
}

.card-verification img {
    height: 60px;
    margin: 40px 0;
}

.card-verification_container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: lightgray;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    height: 190px;
    margin-bottom: 130px;
}

.card-verification_label {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
}

.card-verification_container span {
    font-size: 16px;
}

.card-verification_thanks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
    border-radius: 30px;
    padding: 20px;
    box-sizing: border-box;
    height: 190px;
    margin-bottom: 225px;
}

@media(max-width: 600px) {

    .payment-method {
        width: 100%;
    }

}