    /* font-family: 'Bebas Neue', sans-serif;
    font-family: 'Poppins', sans-serif; */

.main-container {
    background-color:aliceblue;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    padding: 2em;
    font-family: 'Poppins', sans-serif;
}

.musicbox {
    background-color: white;
    width: 280px;
    height: 472px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 32px;
}

.musicbox_img {
    width: 248px;
    height: 248px;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 16px;
}

.musicbox_text--primary-bold {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
}

.musicbox_text--secondary-regular {
    font-size: 12px;
    color: gray;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 0;
}

.player-progress {
    appearance: none;
    -webkit-appearance: none;
    width: 248px;
    cursor: pointer;
    outline: none;
    background: #D8D8D8;
    height: 4px;
    border-radius: 2px;
}

.player-progress::-moz-range-track {
    height: 4px;
    border-radius: 2px;
    background: #D8D8D8;
}

.player-progress::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #8643FF;
    transition: .2s ease-in-out;
}

.player-progress::-webkit-slider-thumb:hover {
    box-shadow: 0 0 0 10px rgba(140, 0, 255, 0.1);
}

.musicbox_song-time {
    display: flex;
    width: 248px;
    justify-content: space-between;
}

.musicbox_song-time span {
    font-size: 0.8em;
    color: gray;
}
.control-buttons-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.control-buttons-container button{
    border-radius: 50%;
    border:none;
    background-color: white;
}

.control-buttons-container button:nth-child(3) img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: none;
    object-position: 50% 25%;
}
